<app-add-task (newTaskIsAdded)="updateTasks($event)"></app-add-task>
<app-message></app-message>

<ul *ngIf=tasks class="list-group border-0 rounded-0">
  <li
    *ngFor="let task of tasks"
    class="list-group-item list-group-item-action rounded-1"
    [class.list-group-item-danger]="task.important === true"
    routerLink="/edit/{{ task.id }}"
    title="edit task"
    >
    <a>
      <span>{{ task.title }}</span>
    </a>

    <!--
    On click, the "event.stopPropagation" prevents from firing the "routerLink"
    on the parent <li> element, if the element is not deleted fast enough
    -->
    <button
      onclick="event.stopPropagation()"
      class="delete"
      title="delete task"
      (click)="delete(task)">x
    </button>
  </li>
</ul>