/* TaskSearch private styles */

h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

input {
  border-radius: 3.2px;
  padding: .5rem;
  width: 100%;
  max-width: 600px;
  box-sizing: border-box;
  display: block;
}

input:focus {
  outline: #336699 auto 1px;
}

li {
  list-style-type: none;
}

ul.search-result {
  margin-top: 0;
  padding-left: 0;
}